
body{background-color:#5858FA; }

div {
	border: 2px solid #CCC;
	position: relative;
}

div img {
	position: absolute;
	top: 5px;
	left: 5px;
}

p, a{
	border: 2px solid #CCC;
}

img.desplaçada{position:relative;
          
            top:100px; 
            left:100px;
}

