

label{

    display: block;
margin: .5em 0 0 0;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}
span {color: red;}

textarea{

    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;


}

fieldset{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;


}


select#pro{
    
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;


}
select#pai{
    
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;


}
 div#boto{

    margin-right: 15%;
 }
button {
    
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;


}
hr{ 
    width: 100%;
    height:10px; 
    border-radius: 4px; 
    background-color:#b1abab; 
    border:none; 
  }


form#nom fieldset {
    border-style: none;
    float: left;
    width: 45%;
    
    } 
form#direccio fieldset { 
    border-style: none;      
        float: left;
        width: 45%;
      
        }


 form#email fieldset {
            border-style: none;
            float: left;
            width: 45%;
            }
form#tel fieldset

{
    border-style: none;
     width: 45%;

}


div#email{
    width: 55%;
   }

div#pa{
    width: 45%;
    float: left;
 
}

div#mo{

    width: 45%;
    float: left;
}

div#fi{

    width: 45%;
    float: left;
}

input#cognom1,input#cognom2,input#email, input#carrer{

    width: 80%;
}



input#mun{
    width: 49%;    
    float: left;
           }

input#codi{
    
    width: 49%;
    float: left;
                
            } 
            
input#prov{
       
        width: 49%;
        float: left;
                            
                        }
                        

input#codi{
       
        width: 49%;
        float: left;
                                        
                                    }   
input#mob{
       
    width: 49%;
    
               }                
input#fix{                                                          width: 49%;                                       }                                                                                          
                                                                                                                                                                   
 div#cod,div#mu, div#pr, div#pa {

    width:45%;
    float: left;
 }


label{
    clear: both
}








