body, html {
  width: 98%;
  height: 98%;
}
header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
div#titol{
  margin: 10px;
  padding: 10px;
}
div#contenidor{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;


}
h1{
	color:rgb(255, 13, 13);
}
div img{
  width:120px;
  height: 90px;
}



div#motos{
  margin: 10px;
  padding: 10px;
  width: 90%;
  display:flex;
  justify-content: center;
}
div#fotoGran{
  width: 500px;
  height: 400px;
  background-color: rgb(253, 253, 253);
  border:solid black;
}

div#moto1{ 
  width: 120px;
  height: 90px;
  margin: 10px;  

}
div#moto2{
  width: 120px;
  height: 90px;
  margin: 10px;
 
}
div#moto3{
  width: 120px;
  height: 90px;
  margin: 10px; 

}
div#moto4{ 
  width: 120px;
  height: 90px;
  margin: 10px;  

}
div#moto5{ 
  width: 120px;
  height: 90px;
  margin: 10px; 

}
div#moto6{
  width: 120px;
  height: 90px;
  margin: 10px; 

}
