
body{
	
	background-color:rgb(255, 255, 255); 
}





html,body,div#pantalla {

	width: 98%;
	

	}

	div#capçalera {
		background-color: rgb(223, 219, 32);
		border: 1px solid rgb(7, 31, 7);
        padding: 1em;
        margin-bottom: 1em;
        text-align: center;

		
		
    }
     div#menuHoritzontal{
        border: 1px solid rgb(7, 31, 7);
        background-color: rgb(40, 159, 228);
        width: 98%;
		padding: 0.5em;
        margin: 0.5em ;
        
		float: left;

     }
     

	div#menu {
        text-align: center;
        background-color: rgb(209, 45, 45);
        border: 1px solid rgb(7, 31, 7);
		width: 20%;		
		padding: 0.5em;
        margin: 0.5em ;
        float: left;
		clear: left;
	}
	div#contingut {
        background-color: rgb(19, 187, 47);
        border: 1px solid rgb(7, 31, 7);		
		width: 70%;		
		padding: 0.5em;
        margin: 0.5em ;  
        margin-left: 55px;  
		float: left;
	}
	
	div#peu {
		background-color: rgb(236, 22, 190);
		width: 99%;	
		border: 1px solid rgb(7, 31, 7);
		padding: 5px;
        margin-top: 0.5em;
		clear: both;
	}    
    div#textTorrent{
        font-family: 'Lucida Sans';
        position: relative;

        }
    .politic{
        padding: 3px;
		margin: 3px;
    float: left;
    }

    div#textZuck{
        font-family: 'Lucida Sans';
        position: relative;

        }
    .informatic{
        padding: 3px;
		margin: 3px;
    float: left;
    }


    div#textTxa{
        font-family: 'Lucida Sans';
        position: relative;

        }
    .music{
        padding: 3px;
		margin: 3px;
    float: left;
    }

    div#peu {
        font-family: 'Lucida Sans';
	}
	
ul li{ 
    
    list-style: none;
    border: 1px solid black;
    background-repeat: no-repeat; 
    background-image: url(../imatges/fletxa.png);
    background-color: rgb(250, 165, 165);
    margin:10px; 
    
    float: left;
}

ul li a{
    padding-left: 30px;
   
}


ul li:hover{
    background-color: rgb(172, 38, 33);
    background-image: url(../imatges/fletxa1.png);
}

	
	
