
div{

    margin: 20px;
}



div#A{

   width:1200px; 
   height: 900px;
   background-repeat: no-repeat;
   background-position: top left , center right ;  
   background-image: url("decoration.png"), url("ribbon.png"), url("old_paper.jpg");
  
    
    float: left;
}



