
div{

    margin: 4px;
}



div#A{
    width: 300px; 
    height: 100px;
    background-color:gray;
    border-bottom-right-radius: 85px;
    float: left;
}

div#B{
    width: 300px; 
    height: 100px;
    background-color:gray;
    border-bottom-right-radius: 50%;
    float: left;
}
div#C{
    width: 300px; 
    height: 100px;
    background-color:gray;
    border-bottom-right-radius:50px 90px;
    float: left;
}
div#D{
    width: 300px; 
    height: 100px;
    background-color:gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 80px;
    border-bottom-left-radius:80px; 
    border-bottom-right-radius:20px;
    float: left;
   clear: left;
}
div#E{
    width: 300px; 
    height: 100px;
    background-color:gray;
    border-top-left-radius:3em 0.5em;
    border-top-right-radius: 0.5em 3em;
    border-bottom-left-radius:0.5em 3em;
    border-bottom-right-radius:3em 0.5em;
    float: left;
    
   
}
div#F{
    width: 100px; 
    height: 100px;
    background-color:gray;
    border-radius: 200px 200px 200px 200px;
   
    float: left;
    margin-left:90px;
   
}


